PORT=3001

MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USER=your_brevo_email@example.com
MAIL_PASS=your_brevo_smtp_password
MAIL_FROM_NAME=Banco de Bogotá
MAIL_FROM_ADDRESS=no-reply@bancodebogota.com

# Clave secreta para autenticar peticiones internas entre servicios
SERVICE_SECRET=mi_clave_secreta_microservicios
